<ul class="results" style="height: auto;">
  <li *ngFor="let pokemon of visibles; let i = index;" class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
    <figure>
      <a [href]="pokemon.url">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{getNumber(i + 1)}}.png">
      </a>
    </figure>

    <div class="notch-collectibles-small">
      <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">
        <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection" data-collection="have"><span
              class="icon icon_collection"></span></a></div>
        <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
              class="icon icon_wishlist"></span></a></div>
        <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
              class="icon icon_trade"></span></a></div>
      </div>
    </div>

    <div class="pokemon-info">
      <p class="id">
        <span class="number-prefix">#</span>001
      </p>
      <h5>Bulbasaur</h5>

      <div class="abilities">
        <span class="pill background-color-grass">Grass</span>
      </div>
      <div class="abilities">
        <span class="pill background-color-poison">Poison</span>
      </div>
    </div>
  </li>
</ul>
