<body class="us fluid custom-form-elements nav-follow">
  <div class="container pokedex">
    <section class="section overflow-visible">

      <div class="column-12 push-1">

        <a id="shuffle" class="button button-lightblue no-arrow">
          <i class="icon icon_refresh"></i>
          Surprise Me!
        </a>

        <div class="custom-select-wrapper" style="visibility: visible;">
          <select id="sortOrder" style="display: none;">
            <option value="noSort">Sort results by…</option>
            <option selected="" value="numberAsc">Lowest Number (First)</option>
            <option value="numberDesc">Highest Number (First)</option>
            <option value="nameAsc">A-Z</option>
            <option value="nameDesc">Z-A</option>
          </select>
          <div class="custom-select-menu" tabindex="0"><label class="styled-select button-black icon icon_pokeball">Lowest
              Number (First)</label>
            <ul data-select-name="undefined" style="display: none;">
              <li data-option-value="noSort" class="">Sort results by…</li>
              <li data-option-value="numberAsc" class="selected">Lowest Number (First)</li>
              <li data-option-value="numberDesc" class="">Highest Number (First)</li>
              <li data-option-value="nameAsc" class="">A-Z</li>
              <li data-option-value="nameDesc" class="">Z-A</li>
            </ul><input type="hidden" name="undefined" value="numberAsc">
          </div>
          <i class="icon icon_arrow_sm_down"></i>
        </div>

      </div>

    </section>
    <section class="section pokedex-results overflow-visible">

			<app-list></app-list>
  <!--     <ul class="results" style="height: auto;">
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/bulbasaur">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>001
            </p>
            <h5>Bulbasaur</h5>

            <div class="abilities">
              <span class="pill background-color-grass">Grass</span>
            </div>
            <div class="abilities">
              <span class="pill background-color-poison">Poison</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/ivysaur">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="ivysaur" data-slug="ivysaur">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>002
            </p>
            <h5>Ivysaur</h5>

            <div class="abilities">
              <span class="pill background-color-grass">Grass</span>
            </div>
            <div class="abilities">
              <span class="pill background-color-poison">Poison</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/venusaur">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="venusaur" data-slug="venusaur">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>003
            </p>
            <h5>Venusaur</h5>

            <div class="abilities">
              <span class="pill background-color-grass">Grass</span>
            </div>
            <div class="abilities">
              <span class="pill background-color-poison">Poison</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/charmander">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="charmander" data-slug="charmander">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>004
            </p>
            <h5>Charmander</h5>

            <div class="abilities">
              <span class="pill background-color-fire">Fire</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/charmeleon">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/005.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="charmeleon" data-slug="charmeleon">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>005
            </p>
            <h5>Charmeleon</h5>

            <div class="abilities">
              <span class="pill background-color-fire">Fire</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/charizard">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="charizard" data-slug="charizard">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>006
            </p>
            <h5>Charizard</h5>

            <div class="abilities">
              <span class="pill background-color-fire">Fire</span>
            </div>
            <div class="abilities">
              <span class="pill background-color-flying">Flying</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px;">
          <figure>
            <a href="/us/pokedex/squirtle">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="squirtle" data-slug="squirtle">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>007
            </p>
            <h5>Squirtle</h5>

            <div class="abilities">
              <span class="pill background-color-water">Water</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px;">
          <figure>
            <a href="/us/pokedex/wartortle">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/008.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="wartortle" data-slug="wartortle">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>008
            </p>
            <h5>Wartortle</h5>

            <div class="abilities">
              <span class="pill background-color-water">Water</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/blastoise">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/009.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="blastoise" data-slug="blastoise">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>009
            </p>
            <h5>Blastoise</h5>

            <div class="abilities">
              <span class="pill background-color-water">Water</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
          <figure>
            <a href="/us/pokedex/caterpie">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/010.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="caterpie" data-slug="caterpie">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>010
            </p>
            <h5>Caterpie</h5>

            <div class="abilities">
              <span class="pill background-color-bug">Bug</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px;">
          <figure>
            <a href="/us/pokedex/metapod">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/011.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="metapod" data-slug="metapod">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>011
            </p>
            <h5>Metapod</h5>

            <div class="abilities">
              <span class="pill background-color-bug">Bug</span>
            </div>
          </div>
        </li>
        <li class="animating" style="opacity: 1; top: 0px; left: 0px;">
          <figure>
            <a href="/us/pokedex/butterfree">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/012.png">
            </a>
          </figure>

          <div class="notch-collectibles-small">
            <div class="collectibles-wrapper" data-collectibles-slug="butterfree" data-slug="butterfree">
              <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection"
                  data-collection="have"><span class="icon icon_collection"></span></a></div>
              <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span
                    class="icon icon_wishlist"></span></a></div>
              <div class="collectibles-trade"><a href="#" rel="tooltip" title="Add to My Trade List" data-collection="trade"><span
                    class="icon icon_trade"></span></a></div>
            </div>
          </div>

          <div class="pokemon-info">
            <p class="id">
              <span class="number-prefix">#</span>012
            </p>
            <h5>Butterfree</h5>

            <div class="abilities">
              <span class="pill background-color-bug">Bug</span>
            </div>
            <div class="abilities">
              <span class="pill background-color-flying">Flying</span>
            </div>
          </div>
        </li>
      </ul> -->


      <div class="no-results column-12 push-1">
        <div class="alert alert-error">

          <h3>No Pokémon Matched Your Search!</h3>

          <p><strong>Try these suggestions to find a Pokémon:</strong></p>
          <ul>
            <li>
              <p>Reduce the number of search parameters</p>
            </li>
            <li>
              <p>Search for only one Pokémon type at a time</p>
            </li>
            <li>
              <p>Try multiple body sizes and shapes</p>
            </li>
          </ul>

        </div>
      </div>

      <div class="content-block content-block-full">
        <a href="" id="loadMore" style="display: inline-block;">
          <span class="button-lightblue">Load more Pokémon</span>
        </a>
      </div>

    </section>
  </div>
</body>

<router-outlet></router-outlet>
